// colors
$primary-color: #d0d6f9;
$dark-color: #0b0d17;
$gray: #979797;
$white: #ffffff;

$ff-barlow-one: "Barlow Condensed", sans-serif;
$ff-barlow-two: "Barlow", sans-serif;
$ff-bellefair: "Bellefair", serif;
